@import "compass";
@import "ext/bootstrap-slider";

body,
html {
  color: #333;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
body {
  padding-bottom: 50px;
}

.navbar li a i {
  margin-right: 5px;
}

#app {
  background-color: #FFF;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 50px 0 50px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  @include box-sizing(border-box);
}

#gcode {
  background: #ffffff;
  height: 100%;
  margin-top: 0px;
  width: 100%;
  position: relative;
  @include box-sizing(border-box);
}

.logo {
  text-align: center;
}

.gcode-init {
  padding: 0 10px;

  .gcode-drop {
    float: left;
    line-height: 36px;
    margin: 5px;
    padding: 0px 5px;
    border: 2px dashed #999;
  }
  .gcode-progress {
    float: left;
    height: 50px;
    margin-left: 10px;
    position: relative;
    width: 100px;

    .progress {
      height: 15px;
      left: 0;
      margin-bottom: 0;
      position: absolute;
      width: 100%;
      &:nth-child(1) { top: 5px; }
      &:nth-child(2) { bottom: 5px; }

      .progress-bar {
        font-size: 10px;
        line-height: 15px;
      }
    }
  }
}

// displays model information
#status {
  background-color: #f8f8f8;
  bottom: 0;
  height: 50px;
  left: 0;
  padding: 10px 0px;
  position: fixed;
  right: 0;
  z-index: 10;

  ul.metrics {
    list-style-type: none;
    li {
      float: left;
      margin-right: 20px;
      line-height: 30px;
    }
  }
}

// displays layer information
.toolbar {
  left: 20px;
  position: absolute;
  top: 20px;

  &.toolbar-right {
    left: auto;
    right: 60px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li i {
      text-align: center;
      width: 15px;
      margin-right: 5px;
    }
  }

  strong {
    display: inline-block;
    margin-top: 10px;
  }

  .colorbox {
    $size: 20px;

    height: $size;
    margin-bottom: 2px;

    span {
      font-size: 12px;
      line-height: $size;
    }
    .color {
      float: left;
      display: inline-block;
      height: 100%;
      margin-right: 5px;
      width: $size;
    }

    &.colorbox-rounded .color {
      @include border-radius($size);
    }
  }
}

// used to change layers in 2D view
.scrollbar {
  $size: 40px;

  bottom: 20px;
  position: absolute;
  right: 10px;
  top: 20px;
  width: $size;

  .scrollbar-group {
    height: 100%;
    position: relative;
  }
  .scrollbar-control {
    background-color: #FFF;
    border: 1px solid #CCCCCC;
    bottom: $size;
    padding: 20px 0px;
    position: absolute;
    text-align: center;
    top: $size;
    width: $size;
    @include box-shadow(rgba(0,0,0,0.075) 0px 1px 1px 0px inset);
  }
  .scrollbar-plus, .scrollbar-minus {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    height: $size;
    line-height: $size;
    position: absolute;
    text-align: center;
    top: 0;
    width: $size;
  }
  .scrollbar-plus {
    border-bottom: none;
    @include border-top-left-radius(4px);
    @include border-top-right-radius(4px);
  }
  .scrollbar-minus {
    border-top: none;
    bottom: 0;
    top: auto;
    @include border-bottom-left-radius(4px);
    @include border-bottom-right-radius(4px);
  }

  // bootstrap-slider scrollbar styling
  .slider-track, .slider-selection {
    background: #EEE;
    @include box-shadow(rgba(0,0,0,0.075) 0px 1px 1px 0px inset);
  }
  .slider-handle {
    background: #428bca;
    @include opacity(1);
    @include box-shadow(none);
  }
  .slider-disabled .slider-handle {
    background: #CCC;
  }
}

#mobile-notification {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEE;

  .modal-body {
    font-size: 20px;
    text-align: center;

    i.fa-desktop {
      font-size: 130px;
    }
    p {
      margin: 50px 0px;
    }
  }
}
